/*-------------------- Fonts*/

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');





/*-------------------- Background Color*/

.nav-bg-color {
    background-color: rgba(236, 236, 236, .1);
}






/*-------------------- General*/

html {
    scroll-behavior: smooth;
    /*Source: w3schools - https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section1*/
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Exo', sans-serif;
    color: #4a4a4f;
    background-color: rgb(236, 236, 236);
}

h1,
h2,
h3 {
    font-family: 'Cormorant Garamond', sans-serif;
    margin: 0;
    color: #d8c4bf;
    font-weight: 700;
    padding: 15px;
    text-align: center;
}

.heading2 {
    color: #757575;
}

section {
    min-height: 100vh;
    padding-top: 50px;
}

.align-center {
    display: inline-block;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}

.fa {
    display: block;
}

a {
    cursor: pointer;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.modal-content,
.modal-content .img-fluid {
    border: none;
    background-color: transparent;
}

.modal .modal-body {
    padding: 0;
}

.opaque-overlay {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}





/*-------------------- Header / Navbar*/

.navbar {
    margin: 0;
    padding: 0 1rem;
    border: 0;
    width: 100%;
}

.navbar-light .navbar-nav {
    text-align: right;
    letter-spacing: 8px;
}

.header-container {
    background: url(../images/background/header.png) no-repeat 60% center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 100vh;
    /*Based on code from Stack Overflow - https://stackoverflow.com/questions/43214466/resizing-background-image-with-bootstrap*/
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

.navbar-light .navbar-toggler {
    color: #d8c4bf;
    font-size: 200%;
    border: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.navbar-light .navbar-toggler:hover {
    color: #cab0aa;
    transform: scale(1.2);
}

.navbar-light .navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
    color: #d8c4bf;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #cab0aa;
    transform: scale(1.01);
}

.dropdown-toggle::after {
    content: none;
}

#dropdownMenuLink {
    color: #d8c4bf;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

#dropdownMenuLink:hover {
    color: #cab0aa;
    transform: scale(1.01);
}

.dropdown-menu.show {
    display: inline-block;
    background-color: transparent;
}

.dropdown-menu {
    max-width: 8rem;
    text-align: center;
    background-color: transparent;
    border: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}


.dropdown-item {
    color: #d8c4bf;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: transparent;
    outline: none;
    color: #cab0aa;
    transform: scale(1.01);
}




/*-------------------- Members Section*/

.members-container {
    background: url(../images/background/red-smoke.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*Based on code from Stack Overflow - https://stackoverflow.com/questions/43214466/resizing-background-image-with-bootstrap*/
}

.card-deck .card {
    width: 100%;
    margin-bottom: 15px;
    border: none;
    border-radius: 1rem;
}

.card-deck .card .img-fluid {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.card-deck .card .img-fluid:hover {
    opacity: 0.9;
}




/*-------------------- Photos Section*/

.photo-container {
    background: url(../images/background/crowd.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*Based on code from Stack Overflow - https://stackoverflow.com/questions/43214466/resizing-background-image-with-bootstrap*/
}

.carousel {
    padding-top: 20px;
}

#photos {
    padding: 0;
}

.fa-camera-retro {
    padding-top: 50px;
}





/*-------------------- Videos Section*/

@media (min-width: 576px) {
    #videos .modal .modal-dialog {
        max-width: 900px;
    }

}

.video-container {
    background: url(../images/background/purple-smoke.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*Based on code from Stack Overflow - https://stackoverflow.com/questions/43214466/resizing-background-image-with-bootstrap*/
}

.vidImage+.fa-youtube-play {
    margin: 0;
    padding: 0;
    font-size: 32px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff0000;
}

.vidImage:hover+.fa-youtube-play,
.vidImage+.fa-youtube-play:hover {
    display: block;
}





/*-------------------- Music Section*/

.music-container {
    background: url(../images/background/band-pose.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*Based on code from Stack Overflow - https://stackoverflow.com/questions/43214466/resizing-background-image-with-bootstrap*/
}





/*-------------------- Movie Trailer Section*/

#trailer{
    padding: 0;
    margin: 0;
}

.trailerHeading{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    opacity: 0.8;
}

.trailer-bg {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}


/*-------------------- Merchandise Section*/

/*-------------------- Fan Club Section*/

/*-------------------- Footer*/

footer {
    margin: 0;
    padding: 20px;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    margin: 0 10px;
    border-radius: 50%;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #d8c4bf;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.social-links li a i:hover {
    background-color: #cab0aa;
    transform: scale(1.1);
}

.form-sm {
    width: 250px;
}

.divider {
    width: 70px;
}

.divider-long {
    width: 75vw;
}

#footer .row .my-btn {
    border-radius: 2rem;
    color: #fafafa;
    background-color: #d8c4bf;
    padding: 5px 15px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

#footer .row .my-btn:hover {
    background-color: #cab0aa;
    transform: scale(1.1);
}

.my-btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(200, 200, 200, 1);
}
