/*-------------------------------------------------- Fonts*/

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap:100,200,300,400,500,600,700');

/*-------------------------------------------------- Background*/

.nav-bg-color {
    background-color: rgba(92, 52, 138, .8);
}

.bg-fade-light {
    background-color: rgba(0, 0, 0, 0.4);
}

.bg-fade-dark {
    background-color: rgba(0, 0, 0, 0.8);
}

.cloud-bg {
    background: url(../images/gallery/purple-clouds.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*-------------------------------------------------- Overlays*/

.overlay-light {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(92, 52, 138, 0.1);
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.overlay-dark {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(92, 52, 138, 0.2);
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

/*Hover.css class*/

.hvr-shutter-out-vertical {
    background-color: transparent;
}

/*Hover.css class*/

.hvr-shutter-out-vertical:before {
    background-color: rgba(92, 52, 138, 0.3);
}

/*-------------------------------------------------- General*/

html {
    scroll-behavior: smooth;
    /*Source: w3schools - https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section1*/
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    color: #4a4a4f;
    background-color: rgb(92, 52, 138);
}

/*Source: wpshout - https://wpshout.com/quick-guides/create-text-outline-css/*/

.text-outline {
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h1 {
    font-family: 'Cormorant Garamond', sans-serif;
    margin: 0;
    font-weight: 700;
    font-size: 5rem;
    text-align: right;
    color: #fafafa;
}

h2 {
    font-family: 'Cormorant Garamond', sans-serif;
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: right;
    color: #fafafa;
}

h3,
h4 {
    font-family: 'Cormorant Garamond', sans-serif;
    margin: 0;
    color: #fafafa;
    font-weight: 700;
    padding: 15px;
    text-align: center;
}

section {
    min-height: 100vh;
}

.align-center {
    display: inline-block;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}

.fa {
    display: block;
}

a {
    cursor: pointer;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.my-btn {
    border: 1px solid #000;
    border-radius: 2rem;
    color: #fafafa;
    background-color: rgb(92, 52, 138);
    padding: 5px 15px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.my-btn:hover {
    background-color: rgb(70, 42, 129);
    color: #fafafa;
    transform: scale(1.1);
    cursor: pointer;
}

.my-btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(200, 200, 200, 1);
}

.margin-auto {
    margin: auto;
}

/*-------------------------------------------------- Header / Navbar*/

.navbar {
    margin: 0;
    padding: 0 1rem;
    border: 0;
    width: 100%;
}

.navbar-light .navbar-nav {
    text-align: right;
    letter-spacing: 8px;
}

.home-header-container {
    background: url(../images/header/band-pose.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

.navbar-light .navbar-toggler {
    color: #fafafa;
    font-size: 200%;
    border: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.navbar-light .navbar-toggler:hover {
    color: #fafaff;
    transform: scale(1.2);
}

.navbar-light .navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
    height: 40px;
    color: #fafafa;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fafaff;
    font-size: 1.1rem;
}

.page-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.header {
    padding: 100px 0 45% 0;
}

/*-------------------------------------------------- Navigation Section*/

#navigation {
    padding: 0;
    margin: 0;
}

.nav-container {
    height: 50vh;
}

.nav-container div {
    display: block;
    height: 100%;
    width: 100%;
}

.gallery-nav {
    background: url("../images/gallery/slide-one.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*Source: w3schools - https://www.w3schools.com/css/css3_animations.asp*/
    animation-name: gallery-pics;
    animation-direction: normal;
    animation-duration: 40s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes gallery-pics {
    0% {
        background-image: url("../images/gallery/slide-one.png");
    }
    14% {
        background-image: url("../images/gallery/slide-two.png");
    }
    29% {
        background-image: url("../images/gallery/slide-three.png");
    }
    43% {
        background-image: url("../images/gallery/slide-four.png");
    }
    58% {
        background-image: url("../images/gallery/slide-five.png");
    }
    72% {
        background-image: url("../images/gallery/slide-six.png");
    }
    86% {
        background-image: url("../images/gallery/slide-seven.png");
    }
    100% {
        background-image: url("../images/gallery/slide-eight.png");
    }
}

/* /.Source: w3schools */

.members-nav {
    background: url(../images/members/members-nav.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.music-nav {
    background: url(../images/music/albums.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.film-nav {
    background: url(../images/film/film.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#store-nav {
    background-color: #ffffff;
}

.store-nav {
    background: url("../images/store/3d-queen.png") no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    /*Source: w3schools - https://www.w3schools.com/css/css3_animations.asp*/
    animation-name: store-pics;
    animation-direction: normal;
    animation-duration: 30s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes store-pics {
    0% {
        background-image: url("../images/store/3d-queen.png");
    }
    9% {
        background-image: url("../images/store/baseball-t.png");
    }
    18% {
        background-image: url("../images/store/blu-ray.png");
    }
    27% {
        background-image: url("../images/store/book.png");
    }
    36% {
        background-image: url("../images/store/candle.png");
    }
    45% {
        background-image: url("../images/store/dvd.png");
    }
    55% {
        background-image: url("../images/store/flash-mug.png");
    }
    64% {
        background-image: url("../images/store/jazz-bag.png");
    }
    73% {
        background-image: url("../images/store/jazz-jumper.png");
    }
    82% {
        background-image: url("../images/store/mercury-mug.png");
    }
    91% {
        background-image: url("../images/store/movie-book.png");
    }
    100% {
        background-image: url("../images/store/statue.png");
    }
}

/* /.Source: w3schools */

.sign-up-nav {
    background: url(../images/sign-up/sign-up.png) no-repeat, center, center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-logo {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
}

.nav-head {
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.nav-container:hover .nav-head {
    font-size: 2rem;
}

/*-------------------------------------------------- Members Section*/

#members {
    padding: 0;
    margin: 0;
}

.members-header-container {
    background: url(../images/members/members-nav.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.members-container {
    background-color: rgb(92, 52, 138);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: right;
}

/* Source: Code Institutes resume project */

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
    padding: 15px;
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
    text-align: left;
}

.personal-info-item .key p,
.personal-info-item .value p {
    font-size: 1.5rem;
    margin: 0;
    color: #fafafa;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    padding-left: 15px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    width: 60%;
    position: relative;
    /* Relative to its predecesar*/
}

/* /.Source: Code Institutes resume project */

.divider-lg {
    width: 75vw;
    border-top: 4px solid #c0c0c0;
    padding: 0;
    margin: 0 auto;
}

.info-container {
    overflow: hidden;
}

/*-------------------------------------------------- Gallery Section*/

.gallery-container {
    background: url("../images/gallery/slide-one.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*Source: w3schools - https://www.w3schools.com/css/css3_animations.asp*/
    animation-name: gallery-pics;
    animation-direction: normal;
    animation-duration: 40s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.vidImage+.fa-youtube-play {
    margin: 0;
    padding: 0;
    font-size: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    display: block;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.vidImage:hover+.fa-youtube-play,
.vidImage+.fa-youtube-play:hover {
    color: #ff0000;
}

#videos .modal-content,
#videos .modal-content .img-fluid {
    border: none;
    background-color: transparent;
}

#videos .modal .modal-body {
    padding: 0;
}

/*-------------------------------------------------- Music Section*/

.music-container {
    background: url(../images/music/albums.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#music iframe {
    border: none;
}

/*-------------------------------------------------- Film Section*/

.film-container {
    background: url(../images/film/film.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#trailer {
    padding: 0;
    margin: 0;
}

.trailer-bg {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
}

/*-------------------------------------------------- Store Section*/

#store .card .card-body,
#film-store .card .card-body {
    width: 100%;
    color: #4a4a4f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#store .card:hover .card-body,
#film-store .card:hover .card-body {
    color: #ffffff;
}

#store .card,
#film-store .card {
    background-color: #ffffff;
    border: 4px solid #ffffff;
    color: #4a4a4f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#store .card:hover,
#film-store .card:hover {
    background-color: rgba(92, 52, 138, 0.8);
    border: 4px solid rgba(92, 52, 138, 0.8);
    opacity: 0.95;
}

.card-deck .card .img-fluid {
    border-radius: 1rem;
}

.card-deck .card {
    width: 100%;
    margin-bottom: 15px;
    border: none;
    border-radius: 1rem;
}

/*-------------------------------------------------- Sign Up Section*/

.sign-up-container {
    background: url(../images/sign-up/sign-up.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#fan-club form {
    text-align: center;
    vertical-align: middle;
}

.middle {
    position: relative;
    top: 25vh;
}

#fan-club a {
    color: #a45df5;
}

.form-check-label,
#fan-club a:hover {
    color: #fafafa;
}

/*-------------------------------------------------- Footer*/

footer {
    margin: 0;
    padding: 0 20px;
}

footer h5 {
    font-size: 2rem;
}

.footer-container {
    background-color: #9f9ea3;
}

/* Source: Code Institutes resume project */

.social-links {
    padding-bottom: 15px;
}


.social-links li a i {
    border: 1px solid #000;
    width: 32px;
    height: 32px;
    padding: 12px 0;
    margin: 0 10px;
    border-radius: 50%;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: rgb(92, 52, 138);
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.social-links li a i:hover {
    background-color: rgb(70, 42, 129);
    transform: scale(1.1);
}

/* /.Source: Code Institutes resume project */

.form-sm {
    width: 250px;
}

.divider {
    width: 70px;
}

footer .fa-arrow-circle-up {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    font-size: 6rem;
    color: transparent;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

footer a:hover .fa-arrow-circle-up {
    color: #4a4a4f;
}

/*-------------------------------------------------- Media Queries*/

@media (max-width: 576px) {
    .cloud-bg,
    .sign-up-container,
    .music-container {
        background-attachment: scroll;
    }
}

@media (max-width: 1024px) {
    .home-header-container,
    .members-header-container,
    .film-container,
    .gallery-container {
        background-attachment: scroll;
    }
    
    body {
        padding-top: 100px;
    }
}

@media (min-width: 576px) {
    #videos .modal .modal-dialog {
        max-width: 900px;
    }
}

@media (min-width: 960px) {
    .info-container {
        max-height: 45vh;
    }
}
