/*-------------------- Fonts*/

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');





/*-------------------- Background Color*/

.nav-bg-color {
    background-color: rgba(236, 236, 236, .1);
}






/*-------------------- General*/

html {
    scroll-behavior: smooth;
    /*Source: w3schools - https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section1*/
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Exo', sans-serif;
    color: #4a4a4f;
    background-color: rgb(236, 236, 236);
}

h1,
h2,
h3 {
    font-family: 'Cormorant Garamond', sans-serif;
    margin: 0;
    color: #000000;
    font-weight: 700;
    padding: 15px;
}

section{
    padding-top: 90px;
}

.align-center {
    display: inline-block;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}

.opaque-overlay{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}



/*-------------------- Header / Navbar*/

.navbar {
    margin: 0;
    padding: 0 1rem;
    border: 0;
    width: 100%;
}

.navbar-light .navbar-nav {
    text-align: right;
    letter-spacing: 8px;
}

.header-container {
    background: url(../images/background/header.png) no-repeat 60% center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 100vh;
    /*Based on code from Stack Overflow - https://stackoverflow.com/questions/43214466/resizing-background-image-with-bootstrap*/
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

.navbar-toggler {
    font-size: 200%;
    border: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.navbar-toggler:hover {
    color: #bb4c02;
    transform: scale(1.2);
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
    color: #000000;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #d35400;
    transform: scale(1.01);
}

.dropdown-toggle::after {
    content: none;
}

#dropdownMenuLink {
    color: #000000;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

#dropdownMenuLink:hover {
    color: #d35400;
    transform: scale(1.01);
}

.dropdown-menu.show {
    display: inline-block;
    background-color: rgba(236, 236, 236, .5);
}

.dropdown-menu {
    max-width: 8rem;
    text-align: center;
    background-color: rgba(236, 236, 236, .5);
    border: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}


.dropdown-item {
    color: #000000;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: transparent;
    outline: none;
    color: #d35400;
    transform: scale(1.01);
}




/*-------------------- Members Section*/

.members-container {
    background: url(../images/background/red-smoke.png) no-repeat center 110% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*Based on code from Stack Overflow - https://stackoverflow.com/questions/43214466/resizing-background-image-with-bootstrap*/
}

.card-deck .card{
    width: 100%;
    margin-bottom: 15px;
    border: none;
    border-radius: 1rem;
}

.card-deck .card .img-fluid{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}




/*-------------------- Photos Section*/

.photos-container {
    background: url(../images/background/crowd.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    /*Based on code from Stack Overflow - https://stackoverflow.com/questions/43214466/resizing-background-image-with-bootstrap*/
}






/*-------------------- Footer*/

footer {
    margin: 0;
    padding: 20px;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    margin: 0 10px;
    border-radius: 50%;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #d35400;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.social-links li a i:hover {
    background-color: #c55206;
    transform: scale(1.1);
}

form {
    max-width: 50%;
}

.divider {
    width: 70px;
}

.divider-long {
    width: 75vw;
}

#footer .row .my-btn {
    border-radius: 2rem;
    color: #fafafa;
    background-color: #d35400;
    padding: 5px 15px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

#footer .row .my-btn:hover {
    background-color: #c55206;
    transform: scale(1.1);
}

.my-btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(200, 200, 200, 1);
}
